*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: white;
}
body {
    color: rgb(0, 0, 0);
}

image {
  width: 50%;
  height: 50%;
}

.image img {
  width: 200px;
  height: auto;
  margin:  auto;
  display: block;
  border-radius: 50%; /* add a rounded corner effect */
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(9, 163, 96);
    padding: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(60px);
    box-shadow: 0 0 500px rgb(64, 3, 102);
}
.header i {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 30px;
    
}
.header a {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding-top: 20px;
    padding-right: 1000px;
    
}
.header img {
    position: relative;
    height: 100px;
    width: 100px;
    padding-top: 20px;
}
.logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 30px;
}
.navbar i {
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    padding-left: 30px;
    padding-right: 20px;
}
.navbar i:hover {
    color: white;
}

.middle {
    display: flex;
    height: calc(100vh - 100px);
    margin-top: 80px;
    width: 400px;
    position: fixed;
    border-top: 10px rgb(3, 79, 34);
}



.sidebar {
    width: 300px; 
    background-color: rgb(3, 79, 34);
    padding: 60px;
    border-right: 1px solid #ccc;
    height: 100%;
}

.sidebar i {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    margin-top: 50px;
}



.sidebar i:hover {
    color: #0ef;
}

/* add some basic styling to make it look decent */
.middle-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .class-box {
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .class-header {
    background-color: rgb(90, 90, 90);
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .class-header h2 {
    margin: 0;
  }
  
 
  