.image img {
    width: 200px;
    height: auto;
    margin:  auto;
    display: block;
    border-radius: 50%; /* add a rounded corner effect */
  }

.login-container {
    width: 400px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin-top: 10px;
}
body {
    background-image: url(pexels-pixabay-534219.jpg);
    background-size: cover;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 95%;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px ;
    border: 1px solid #ccc;
    padding-right: 10px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    padding-left: 10px;
    font-size: 14px;
    color: #999;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#error-message {
    color: #f00;
    font-size: 12px;
    margin-top: 10px;
}

#register-button {
    width: 100%;
    height: 40px;
    background-color: #337ab7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#register-button:hover {
    background-color: #0088ff;
}

#forgot-password {
    font-size: 14px;
    color: #1290ff;
    text-decoration: none;
}

#forgot-password:hover {
    text-decoration: underline;
}

#error-message {
    color: #f00;
    font-size: 12px;
    margin-top: 10px;
}

